[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/vim-bitbake"]
	path = vim/bundle/vim-bitbake
	url = git@github.com:kergoth/vim-bitbake.git
[submodule "lxd-completion-zsh"]
	path = lxd-completion-zsh
	url = https://github.com/endaaman/lxd-completion-zsh
